<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <!--自动扫描-->
    <context:component-scan base-package="com.hj">

    <!--不扫描@Controller注解的类-->
    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--引入配置文件-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value> classpath:jdbc.properties</value>
                <value> classpath:email.properties</value>
                <!--如果有多个属性文件,依次在下方列出来-->
            </list>
        </property>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbcClass}"/>
        <property name="jdbcUrl" value="${jdbcUrl}"/>
        <property name="user" value="${user}"/>
        <property name="password" value="${password}"/>
    </bean>

    <!-- spring和MyBatis整合,不需要mybatis的配置映射文件-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="com.hj.domain" />
        <!-- 自动扫描mapping.xml -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!-- DAO接口所在包名,Spring会自动查找其下的类,动态代理实现 不用写dao的实现类 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" >
        <property name="basePackage" value="com.hj.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!-- 事务管理 transaction manager，use JtaTransactionManager for global tx-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--&lt;!&ndash;設置發件人屬性  &ndash;&gt;-->
    <!--<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">-->
        <!--&lt;!&ndash; SMTP发送邮件的服务器的IP和端口 &ndash;&gt;-->
        <!--<property name="host" value="${email.host}" />-->
        <!--<property name="port" value="${email.port}" />-->

        <!--&lt;!&ndash; 登陆SMTP邮件发送服务器的用户名和密码 &ndash;&gt;-->
        <!--<property name="username" value="${email.username}" />-->
        <!--<property name="password" value="${email.password}" />-->

        <!--&lt;!&ndash; 获得邮件会话属性,验证登录邮件服务器是否成功&ndash;&gt;-->
        <!--<property name="javaMailProperties">-->
            <!--<props>-->
                <!--<prop key="mail.transport.protocol">smtp</prop>-->
                <!--<prop key="mail.smtp.auth">true</prop>-->
                <!--<prop key="mail.smtp.starttls.enable">true</prop>-->
                <!--</props>-->
            <!--</property>-->
        <!--</bean>-->

    <!--&lt;!&ndash; 發送郵件 &ndash;&gt;-->
    <!--<bean id="simpleMailMessage" class="org.springframework.mail.SimpleMailMessage">-->
         <!--<property name="from" value="${mail.from}" />-->
         <!--<property name="subject" value="${mail.subject}" />-->
         <!--<property name="to" value="${mail.to}" />-->
         <!--<property name="text" value="${mail.text}" />-->

    <!--</bean>-->

    <!--&lt;!&ndash; 上传下载 &ndash;&gt;-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
         <!--&lt;!&ndash; 设置默认编码 &ndash;&gt;-->
         <!--<property name="defaultEncoding" value="utf-8"></property>-->
         <!--&lt;!&ndash; 上传最大大小5M&ndash;&gt;-->
         <!--<property name="maxUploadSize" value="5242440"></property>-->
     <!--</bean>-->
</beans>

